$bEng: "'Arial'", "'sans-serif'", "'Microsoft JhengHei'", "'微軟正黑體'", "'Microsoft YaHei'", "'微軟雅黑'", "'STXihei'", "'华文细黑'";

@mixin fontFE($force: false) {
  @if ($force == false) {
    font-family:   'fontello';
  } @else {
    font-family:  'fontello' !important;
  }
}

@mixin fontDR($force: false) {
  @if ($force == false) {
    font-family:   'droid_sansregular', #{$bEng} ;
  } @else {
    font-family:  'droid_sansregular', #{$bEng} !important;
  }
}

@mixin fontDB($force: false) {
  @if ($force == false) {
    font-family:   'droid_sansbold', #{$bEng} ;
  } @else {
    font-family:  'droid_sansbold', #{$bEng} !important;
  }
}

@mixin fontYR($force: false) {
  @if ($force == false) {
    font-family:   'yanone_kaffeesatzregular', #{$bEng} ;
  } @else {
    font-family:  'yanone_kaffeesatzregular', #{$bEng} !important;
  }
}

@mixin fontYB($force: false) {
  @if ($force == false) {
    font-family:   'yanone_kaffeesatzbold', #{$bEng} ;
  } @else {
    font-family:  'yanone_kaffeesatzbold', #{$bEng} !important;
  }
}


html {
  font-size: 100.1%;
  @include font-smoothing();

	// &.text-sm { font-size: percentage(14/16); }
  //
	// &.text-md { font-size: 100%; }
  //
	// &.text-lg { font-size: percentage(18/16); }
}

body {
  color: $darkgray;
	@include rem(16);
	@include fontDR();
}

a {
	color: $gray;
  text-decoration: underline;
	@include transition(color .3s, background-color .3s);

	&:hover,
  &:focus {
		color: $black;
		text-decoration: none;
	}
}

hr {
	overflow: hidden;
	height: 0;
  margin: 35px 0;
  border: 0;
  border-top: 4px solid #dee0e6;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
  @include fontYR();
  line-height: 1.2;

  a {
    color: inherit;
  }
}

h1 {
	margin-bottom: 20px;
  padding: 21px;
  @include rem(38);
  color: $white;
  border-bottom: 3px solid #4ebd88;
  background-color: $blue;
}

h2 {
	margin-bottom: 15px;
  @include rem(38);
  color: $blue;
}

h3 {
	margin-bottom: 15px;
  @include rem(32);
  color: $blue;
}

h4 {
	margin-bottom: 10px;
  @include rem(26);
  color: $gray;
}

h5 {
	margin-bottom: 10px;
  @include rem(23);
  color: $blue;
}

h6 {
	margin-bottom: 10px;
  @include rem(18);
  color: $blue;
  @include fontDB(18);
}

p {
  margin: 0 0 23px;
}


.ckec,
.cke_editable {
  @extend .clearfix;
  line-height: 1.6;

  > *:first-child {
    margin-top: 0;

    > *:first-child {
      margin-top: 0;
    }
  }

  a {
		color: $lightblue2;
    @include word_wrap();

    &[target="_blank"] {
      position: relative;
      display: inline-block;
      padding-right: 18px;

      &:before {
        position: absolute;
        right: 2px;
        top: 5px;
        margin-right: 0;
        @include rem(14);
        @include fontFE();
        line-height: 1;
        content: '\e812';
      }

      &[href$=".pdf"] {
        padding-right: 0;

        &:before {
          display: none;
        }
      }
    }
	}

  img {
    @include img-responsive(false, true);
  }

  table img {
    width: 100%!important;
  }

  hr {
    margin: 25px 0;
  }

	ul,
  ol {
	  margin-bottom: 20px;

    li {
      //margin-bottom: .5rem;
    }
	}

  ol {
		margin-left: 1.5rem;
		padding-left: 0;
		counter-reset: item;

		li {
			display: block;
			position: relative;

			&:before {
				content: counters(item, ".")".";
				counter-increment: item;
				position: absolute;
				margin-right: 100%;
				right: 10px; /* space between number and text */
			}
		}

		ol {
		  margin: .1rem 0 .1rem 2.3rem;

      ol {
        margin: .1rem 0 .1rem 3.1rem;
      }
		}
  }

  @for $i from 1 through 20 {
    ol[start="#{$i}"] {
      counter-reset: item ($i - 1);
    }
  }

	ul {
		padding-left: 0;
		list-style: none;

		li {
			position: relative;
			padding-left: 18px;

			&:before {
				position: absolute;
        top: .65em;
				left: 0;
        width: 4px;
        height: 4px;
        color: #afb5cb;
        content: '';
        border-radius: 50%;
        background-color: #afb5cb;
			}

			li {
				padding-left: 15px;

				&:before {
          top: auto;
          width: auto;
          height: auto;
          @include rem(13);
          font-weight: bold;
          line-height: 1.8;
          content: '>';
          background: none;
				}

				li {
					padding-left: 15px;

					&:before {
            top: auto;
            @include rem(12);
            line-height: 1.7;
						content: '-';
					}
				}
			}
		}

		ul {
      margin: .1rem 0 .1rem 0.2rem;

      ul {
        margin: .1rem 0 .1rem 1.2rem;
      }
    }
	}

  ol {
    &[style*="lower-roman"],
    &[style*="upper-roman"],
    &[style*="lower-alpha"],
    &[style*="upper-alpha"] {
      li {
        display: list-item;

        &:before {
          display: none;
        }
      }
    }
  }

  ul {
    &[style*="circle"],
    &[style*="disc"],
    &[style*="square"] {
      padding-left: 18px;

      > li {
        display: list-item;
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }

/*   ul[style*="circle"] {
    > li {
      list-style-type: none;

      &:before {
        content: '\e60d' !important;
        left: -13px !important;
        font-size: 8px !important;
        top: 5px !important;
      }
    }
  }

  ul[style*="disc"] {
    > li {
      list-style-type: none;

      &:before {
        content: '\e615' !important;
        font-size: 16px !important;
        left: -18px !important;
        top: -1px !important;
      }
    }
  }

  ul[style*="square"] {
    > li {

      &:before {
        display: none;
      }
    }
  }	 */
}

.ckec {
  .panel-group.panel-group--history {
    margin-top: 60px;
  }
}

.cke_editable {
  .panel-group--history {
    margin-top: 60px;

    .panel__heading-btn {
      font-size: 54px!important;
      @include fontDB();
      color: $blue;

      &:after {
        bottom: -10px;
        width: 18px;
        height: 18px;
        margin-left: -8px;
        border-color: #4ebd88;
        background-color: #4ebd88;
        @include transition-delay(.3s);
      }
    }
  }

  .panel__collapse {
    display: block;
  }

  .panel-holder {
    display: block;
  }

  .btn--toggle-all {
    top: -50px;
    right: 0;
  }

  .hinge-down {
    > div {
      @include transform(none);
      @include transition(none);
      opacity: 1;
    }
  }

  .switch{
    &__body {
      position: static;
    }

    .icon-font {
      top: 86px
    }
  }

  .applicant {
    &__body {
      height: auto!important;
    }
  }

  .card--edu-landing .card__item-fig-cap {
    min-width: 250px;
  }

  .embed-responsive .embed-responsive-item {
    width: 100%!important;
    height: 100%!important;
  }
}

/* Mobile */
@media screen and (max-width: $screen-xs-max) {
  body {
    @include rem(14);
  }

  h1 {
    padding: 7px 10px;
    @include rem(25);
  }

  h2 {
    @include rem(23);
  }

  h3 {
    @include rem(22);
  }

  h4 {
    @include rem(20);
  }

  h5 {
    @include rem(20);
  }

  h6 {
    @include rem(16);
  }

  hr {
    border-top-width: 2px;
  }

  .ckec,
  .cke_editable {
    ul {
  		li {
  			padding-left: 15px;
      }
    }
  }

  .ckec {
    .panel-group.panel-group--history {
      margin-top: 90px;
    }
  }
}
