.breadcrumb {
  margin-top: 32px;
  margin-bottom: 14px;
  padding: 0;
  color: #777;
  @include rem(16);
  background: none;
  @include center-flex();

  > li {
    list-style: none;

    + li:before {
      content: '>';
      margin: 0 8px;
      @include rem(24);
      padding: 0;
      vertical-align: middle;
    }

    &:first-child {
      &:before {
        margin: 0;
        content: '';
      }
    }
  }

  a {
    color: #777;
    text-decoration: none;

    &:hover,
    &:focus {
		  color: $darkgray;
    }
  }

  // .is-active {
  //   font-weight: bold;
  // }
}


/* Tablet */
@media screen and (max-width: $screen-sm-max) {
  .breadcrumb {
    margin-top: 25px;
  }
}

/* Mobile */
@media screen and (max-width: $screen-xs-max) {
  .breadcrumb {
    margin-top: 12px;
    margin-bottom: 10px;
    display:block;
    @include rem(14);
    li {
        display: block;
        text-align:center;

        &:before {
            display: none;
        }
    }
  }
}
