/*.btn-top-box {
	$w: 71px;
	$h: 80px;

	position: absolute;
	top: -94px;
	right: 15px;
	z-index: 1000;
	width: $w;
	height: $h;

	.home & {
    display: none!important;
  }

  .btn--top {
    position: relative;
    display: block;
    overflow: hidden;
    width: $w;
    height: $h;
    padding: 0;
    color: $white;
    @include rem(30);
		text-transform: uppercase;
    line-height: 95px;
		border-radius: 0;
    background: inline-image('inline/btn_top.png') no-repeat 0 0;
		@include transition(opacity .3s);

		.lang-tc &,
		.lang-sc & {
			@include rem(14);
		}

    &:hover,
    &:focus {
      text-decoration: none;
			opacity: .85;
    }
  }
}*/

.page-foot {
  position: relative;
  padding: 30px 0;
  color: $white;
  background-color: #4d4d4d;
  @include rem(18);
  text-align: left;

	.container {
    position: relative;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #f0d100;
    }
  } 

  .foot-logo-vert { display:none; width:100%;}
  .foot-logo-hori { display:block; width:100%;}

  .foot-logo { 
    float: left; width:297px;
  }

  p { text-align: right; margin-bottom: 0; }

  .nowrap {white-space: nowrap;}

  .foot__item {
      float: right; text-align: right;
  }
}

.foot-links {
  margin: 0;
  text-align: right;

  &__item {
    position: relative;
    display: inline-block;

    &:before {
      position: absolute;
      left: -4px;
      top: 0;
      content: '|';
      @include rem(18);
    }

    &:first-child {
      &:before {
        display: none;
      }

      a {
        padding-left: 0;
      }
    }

    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }

  &__link {
    padding: 0 16px;
  }
}

/* large desktop  */
@media screen and (max-width: $screen-xl-max) {

  .foot-links {
    &__item {

      &__link {
        padding: 0 14px;
      }
    }
  }

  .dl-app {
    padding-top: 8px;

    &__head {
      margin-right: 3px;
    }

    &__body {
      &-item {
        margin-left: 6px;

        img {
          width: 140px;
        }
      }
    }
  }
}

/* Medium desktop  */
@media screen and (max-width: $screen-md-max) and (min-width: $screen-sm-max) {

    .page-foot {
        @include rem(14);

        .foot__item {
            float: none;
        }
        .foot-links {
            margin-top: 7px;
            &__item:before {
                @include rem(14);
            }
        }
    }
}

@media screen and (max-width: $screen-md-max) {

    
}

/* Tablet */
@media screen and (max-width: $screen-sm-max) {

    .page-foot {
        @include rem(14);
        text-align: center;

        .foot-logo { float: none;}

        p { text-align: center;}

        .foot__item {
            float: none;
        }

        .foot-links {
          margin: 25px 0;
          float: none;
          text-align: center;
        }
    }
    .page-foot {
      .foot-logo {text-align:center;}
      .foot-logo-vert { @include inline-block(); width:percentage(297/640); max-width:297px;}
      .foot-logo-hori { display:none;}
    }

	.btn-top-box {
		$w: 45px;
		$h: 51px;

		position: absolute;
		top: -65px;
		right: 15px;
		width: $w;
		height: $h;

	  .btn--top {
	    width: $w;
	    height: $h;
	    @include rem(18);
	    line-height: 60px;

			.lang-tc &,
			.lang-sc & {
				@include rem(9);
			}
	  	}
	}
}

/* Mobile */
@media screen and (max-width: $screen-xs-max) {
  .page-foot {
      @include rem(14);
      .foot-links {
        margin-bottom: 25px;
        float: none;
        text-align: center;
      }
      .foot__item {
          float: none;
          margin-top: 15px;

          &__item {

              &--copy {
                  line-height: 1.7;
              }
          }
        }

    }
}
