.page-head {
	z-index: 10000;
	@include gradient-vertical($start-color: #000, $end-color: transparent, $start-percent: 0%, $end-percent: 100%);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	padding: 15px 0 0;

	text-decoration: none;
	color: $white;
	@include transition(background-color, .25s, $smooth);

	a { text-decoration: none;}

	&:hover, &.scrolled {
		background: #484747;
	}
}

.page-logo {
	float: left;
	margin-top: 20px;
}

.navigate {
	float: right;
	margin-top: 18px;
	padding: 0;
	@include rem(18);
	text-align: right;

	.tools {margin-bottom: 0; padding: 0 20px 0 0;}

	.tools__item {
		display: inline-block;
		padding: 0 6px;

		a { color: white;}

		&--lang {
			&:before {
				color: $white;
				margin-right: 10px;
				content: '|';
			}

			&:first-child:before {
				display: none;
			}
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.navbar-toggle {
		float: none;
		padding: 0;
		margin: 0;
	}
}

.hku-home {
	.lang-sc &,
	.lang-tc & {
		@include rem(16);
	}
}

.lang {
	@include rem(16);

	&__item {
		@include inline_block();

		&:last-child:before {
			position: relative;
			top: -1px;
			margin-left: 5px;
			margin-right: 6px;
			content: '|';
		}
	}
}

.search {
	cursor: pointer;

	&__box {
		width: 0;
		padding: 0;
		height: 26px;
		color: #fff;
		border: 0;
		border-radius: 0;
		background: transparent;
		cursor: pointer;
		@include transition(width, .35s, $smooth);
		@include placeholder {
			color: $white;
		}

		&:focus{
			width: 180px;
			margin-right: 5px;
			cursor: default;
			outline: 0;
			background-color: #484747;
		}

		.lang-sc &,
		.lang-tc & {
			@include rem(16);
		}
	}

	&-blk {
		.icon-search {font-size: 24px;    display: inline-block;
    vertical-align: -3px;}
	}
}

.quick-links {
	display: block;
	margin-top: 8px;
	@include rem(20);

	&__item {
		margin-left: 30px;
	}
}

.head-btm {
	height: 52px;
}
/* Medium desktop  */
@media screen and (max-width: $screen-md-max) {
	.page-head { padding-bottom:15px;}
	.navigate { margin-top:6px;}
	.page-logo {margin-top: 0;
		img { height: 35px;}
	}

	.visible-md,
	.visible-sm,
	.visible-xs {
		display: inline-block !important;
		vertical-align: top;
		*display: inline;
		*zoom: 1;
	}
	
	.tools__item {
		&.search__box:focus{
			width: 130px;
			outline:0;
		}
	}

	.head-btm {
		height: 48px;
	}
}
/* Tablet */
@media screen and (max-width: $screen-sm-max) {
	.page-head {
		@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.15));
	}

}
/* Mobile */
@media screen and (max-width: $screen-xs-max) {
	.head-top {
		height: 46px;
	}

	.page-head { background: #484747;}
	.navigate { margin-top:2px;}
	.mobi-menu-trigger { margin-top: 1px;}

	.page-logo {
		img { height: 30px;}
		&--main {
			@include rem(15);
		}
	}
}
