/* General
=======================================*/
html,
body {
  min-height: 100%;
}

/* mouse */
[data-whatinput="mouse"] :focus {
  outline: 0!important;
}

/* keyboard */
[data-whatinput="keyboard"] :focus {
  // outline-color: green;
}

/* touch */
[data-whatinput="touch"] :focus {
  // outline-color: blue;
}

body {
  -ms-overflow-style: scrollbar; /* turns off the auto-hiding behavior in ie10/11 */
}

.no-scroll body {
    overflow: hidden;
    position: relative;
}

* {
  max-height: 100000px; /* Font Boosting disabled in Android Chrome */
}

*:not(tbody,tr,td,th){
    -moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}

.wrapper {
	position: relative;
	overflow: hidden;
	min-width: 320px;
}

main {
  background-color: $white;
  outline: 0;
}

.flex {
    @include flexbox();
}

@media screen and (min-width: $screen-xl-min) {
  .container {
    width: percentage(1340/1440);
  }
}

/* large desktop  */
@media screen and (max-width: $screen-xl-max) {
}

/* Tablet */
@media screen and (max-width: $screen-sm-max) {

}

/* Mobile */
@media screen and (max-width: $screen-xs-max) {

}
