.nav>li.dropdown.open {
    position: static;
}

.nav>li.dropdown.open .dropdown-menu {
    display: table;
    border-radius: 0;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.dropdown-menu>li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.navbar-toggle {
    .icon-bar {
        background-color: #f0d100;
        width: 32px;
        height: 4px;
        border-radius: 4px;
    }
    @media (min-width: $grid-float-breakpoint) {
        display: block;
    }
}

.menu {

    .is-selected a,
    a:active,
    a:hover {
        color: $yellow;
    }

    ul {
        list-style: none;
    }

    li {
        text-align: left;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none; // lv1
        &--lv1 {
            @include flexbox();
        } // lv2
        &--lv2 {
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 10;
            visibility: hidden;
            @include opacity(0);
            width: 100%;
            min-height: 180px;
            padding: 35px percentage(90/1440);
            @include transform(translate3d(0, -90px, 0));
            @include box-shadow(1px 3px 6px 0px rgba(0, 0, 0, .15));
            @include transition(all, .38s, $smooth);
            will-change: transform;
            background: #353535;
            @include flexbox();
            justify-content: center; // .ie & {
            //   margin-top: -3px;
            // }
            .lt-ie9 & {
                display: none;
                visibility: visible;
                @include opacity(1);
            }
        }

        &--lv3 {}
    }

    &__item {
        // lv1
        &--lv1 {
            display: inline-block;
            @include transition(background-color, .38s, $smooth);

            &:first-child {
                a span {
                    box-shadow: none;
                }
            }

            &.is-selected,
            &:hover {
                background-color: #353535;
                color: $yellow;

                span {
                    box-shadow: none;
                }
            }


            &:hover+& span,
            &.is-selected+& span {
                box-shadow: none;
            }

            &.is-active {
                .menu__list--lv2 {
                    visibility: visible;
                    @include transform(translate3d(0, 129px, 0));
                    @include opacity(1);
                }
            }
        } // lv2
        &--lv2 {
            padding: 0 44px;
            border-left: 1px solid #5c5c5c;

            &:first-child {
                border-left: 0;
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        } // lv3
        &--lv3 {}
    }

    &__link {
        color: $white;
        text-decoration: none;
        display: block; // lv1
        &--lv1 {
            position: relative;
            padding: 11px 34px 4px;
            @include rem(18);
            display: block;
            padding: 20px 0 25px;

            .lang-sc &,
            .lang-tc & {
                padding-top: 14px;
                padding-bottom: 7px;
                @include rem(16);
            }
        } // lv2
        &--lv2 {
            @include rem(18);
            margin-bottom: 15px;
        } // lv3
        &--lv3 {
            margin-bottom: 10px;
            @include rem(16);
            color: #919191;
        }
    }

    &__text {
        &--lv1 {
            padding: 0 15px;
            -webkit-box-shadow: inset 1px 0px 0px 0px #fff;
            -moz-box-shadow: inset 1px 0px 0px 0px #fff;
            box-shadow: inset 1px 0px 0px 0px #fff;
        }
    }
}

.mobi-panel {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10001;
    background-color: #353535;
    width: 100%;
    height: 100%;
    @include accelerate(transform);
    @include transform(translate3d(100%, 0, 0));
    @include transition(transform, .35s, $smooth);
    overflow-y: scroll;
    /* Momentum scrolling on iOS overflow elements, has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    .flex {
        display: block
    }

    .ie9 & {
        right: -100%;
    }

    a:hover {
        color: $yellow;
    }

    .rightCont { float:right;}

    .mobi-menu {
        &__item {
            &--lv1 {
                border-bottom: 1px solid #666;

                &:last-child {
                    border: none;
                }
            }

            &.is-active {

                >.mobi-menu__link {
                    color: $yellow;
                    border-bottom-color: $yellow;
                    .btn-toggle-mobi-submenu:before {
                        content: "\e903";
                        color: $yellow;
                    }
                }

                &.mobi-menu__item--lv2 {
                    .mobi-menu__link--lv2 {
                        border-bottom: 1px solid $yellow;
                    }
                }
            }
        }
        &__list {
            &--lv1 {
                padding: 40px percentage(68/640);
            }
            &--lv2 {
                display: none;
                padding: 0 0 0 percentage(30/640);
            }

            &--lv3 {
                display: none;
                padding: 0;
            }
        }
        &__link {
            text-decoration: none;
            color: $white;
            display: block;

            &--lv1 {
                @include rem(40);
                text-transform: uppercase;
                padding: 20px 0;
            }
            &--lv2 {
                @include rem(32);
                text-transform: uppercase;
                padding: 12px 0;
            }
            &--lv3 {
                @include rem(28);
                color: #919191;
                padding: 7px 0;
            }
        }
    }

    .search {
        margin: 45px percentage(68/640);
        background-color: #484747;
        color: white;
        padding: 20px 0;
        @include rem(24);
        &__box {
            width: 90%;
            padding: 18px 35px;
        }

        .icon-search {
            font-weight: bold;
            @include inline_block();
            vertical-align: middle;
            @include rem(36);
        }
    }
}

.close-mobi-menu-container {
    padding: 25px percentage(25/640);
    background-color: #484747;

    .mobi-tool {
        margin-right:30px;
        @include inline-block();
        list-style: none;
        li {
            @include inline-block();

            &:first-child {
                padding-left:0;

                &:after {
                    @include rem(28);
                    content: "|";
                    color:$white;
                    padding: 0 15px 0 10px;
                }
            }
        }
        a {
            color:$white;
            @include rem(28);
            text-decoration: none;

            &:hover, &:focus {
                color:$yellow;
            }
        }
    }
}

.btn-toggle-mobi-submenu {
    float: right;
    margin-top: 8px;
    &:before {
        content: "\e902"
    }
}

.btn--close-mobi-menu {
    padding: 0;
    color: $yellow;
    background: none;
    @include rem(35);
    vertical-align:top;

    &:hover { color:$yellow;}
}

.animating .mobi-panel {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: $screen-xl-max) {}



/* Medium desktop  */

@media screen and (max-width: $screen-md-max) {

    .menu {
        &__list {
            // lv2 col
            &--lv2-col {
                padding: 0 30px;
            }
        }

        &__item {
            &:last-child {
                .menu__list--lv2 {
                    right: 27px;

                    .ipad & {
                        right: 28px;
                    }

                    .lang-sc &,
                    .lang-tc & {
                        right: 60px;
                    }

                    .ipad .lang-sc &,
                    .ipad .lang-tc & {
                        right: 59px;
                    }
                }
            }
        }
    }
}



/* Tablet */

@media screen and (max-width: $screen-sm-max) {
    .btn--open-mobi-menu {
        position: relative;
        display: block;
        width: 23px;
        height: 100%;
        overflow: hidden;
        padding: 0;
        outline: 0!important;

        &:before,
        &:after,
        >span {
            position: absolute;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 3px;
            content: '';
            background: #808080;
        }

        >span {
            top: 23px;
        }

        &:before {
            top: 14px;
        }

        &:after {
            top: 32px;
        }
    }

    .mobi-panel {
        .mobi-menu {
            &__link {

                &--lv1 {
                    @include rem(28);
                }
                &--lv2 {
                    @include rem(24);
                }
                &--lv3 {
                    @include rem(18);
                }
            }
        }
    }
}



/* Mobile */

@media screen and (max-width: $screen-xs-max) {
    .mobi-menu-trigger {
        margin-top: 0;
    }

    .btn--open-mobi-menu {
        width: 18px;

        &:before,
        &:after,
        >span {
            height: 2px;
        }

        >span {
            top: 22px;
        }

        &:before {
            top: 15px;
        }

        &:after {
            top: 29px;
        }
    }

    .mobi-panel {
        .search__box {
            width: 80%;
        }
    }
}
